{% extends 'shelter/base.html' %}

{% load animals_extras %}

{% block content %}

<a href="{% url "reservation:reservation-create" %}">New Reservation</a>

{% if user|has_group:'caregiver' or user.is_superuser %}
     <h1>Unapproved</h1>
     {% for instance in object_list1 %}
          <p><a href='{{ instance.get_absolute_url }}'>Reservation for {{ instance.animalid.name }}</a></p>
     {% endfor %}
   
     <h1>Approved</h1>
     {% for instance in object_list2 %}
          <p><a href='{{ instance.get_absolute_url }}'>Reservation for {{ instance.animalid.name }}</a></p>
     {% endfor %}

{% else %}
     {% for instance in object_list1 %}
          <p><a href='{{ instance.get_absolute_url }}'>Reservation for {{ instance.animalid.name }}</a></p>
     {% endfor %}
{% endif %}

{% endblock %}