{% extends 'shelter/base.html' %}

{% block content %}


<div class="container">
     <div class="row">
         <div class="col">
             <div class="page-header mt-4">
                 <h1>Manage Caregivers</h1>
             </div>
         </div>
     </div>
     <hr>
     <div class="row">
          <div class="col">
               <div class="mt-4">
                    <a class="btn btn-success" href="{% url 'caregiver_edit:caregiver-create' %}">New Caregiver</a>
               </div>
         </div>
     </div>
     <div class="row mt-5 mb-2">
          <div class="col">
               <h3 class="pull-left">Edit Caregivers</h3>
          </div>
     </div>
     {% for instance in object_list %}
     <div class="row">
          <div class="col ms-4">
               <p>{{ instance.id }} - <a href='{{ instance.get_absolute_url }}'>{{ instance.username }}</a></p>
          </div>
     </div>
     {% endfor %}
</div>


{% endblock %}