{% extends 'shelter/base.html' %} 

{% block title %}Home Page{% endblock %} 

{% block content %} 


<!-- Header-->
<header class="bg-img text-black" style="background-image: url('static/assets/banner.png')">
    <div class="container px-4 text-center">
        <h1 class="fw-bolder">The Pet Shelter</h1>
        <!-- shelter description -->
        <p class="lead">Help us help pets</p>
        <a class="btn btn-lg btn-light" href="#about">Who we are?</a>
    </div>
</header>

<!-- About section-->
<section class="bg-light" id="about">
    <div class="container px-2">
        <div class="row gx-4 justify-content-center">
            <div class="col-lg-8">
                <h2>About The Pet Shelter</h2>
                <p class="lead">The Pet Shelter is a non-profit animal shelter that provides a safe and loving home for stray animals. 
                    We are located in the heart of the city and are open to the public. 
                    We are always looking for volunteers to help us take care of the animals.
                    If you are interested in volunteering, please contact us.</p>
            </div>
        </div>
    </div>
</section>

<!-- Contact section-->
<section id="contact">
    <div class="container px-4">
        <div class="row gx-4 justify-content-center">
            <div class="col-lg-8">
                <h2>Contact us</h2>
                <p class="lead mb-4">If you have any questions or comments, please contact us.</p>
                <div class="row">
                    <p><i class="bi bi-envelope-fill text-dark me-2"></i>
                    <a href="mailto:the.shelter@gmail.com">the.shelter@gmail.com</a></p>
                </div>
                <div class="row">
                    <p><i class="bi bi-telephone-fill text-success me-2"></i>
                    <a href="tel:+421 918 917 88">+421 918 917 88</a></p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Contact section-->
<section class="bg-light" id="petlist">
    <div class="container px-4">
        <div class="row gx-4 justify-content-center">
            <div class="col-lg-8">
                <h2>Pet list</h2>
                <p class="lead">Do you want to see the list of all pets we offer for a walk?</p>
                <!--button to redirect to animal list-->
                <a class="btn btn-primary" href="/animals">Show me the pet list!</a>
            </div>
        </div>
    </div>
</section>

{% endblock %}
