{% load animals_extras %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/home#page-top">Útulok</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" href="/home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/home#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/home#contact">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/animals">Pet list</a>
          </li>
        </ul>
        <ul class="navbar-nav">
          <!-- if superuser, dropdown menu -->
          {% if user.is_superuser %} 
          <li class="nav-item">
            <a class="nav-link btn btn-warning me-1" href="/myadmin" style="color: black;">Manage Shelter</a>
          </li>
          {% endif %}
          <!-- if user role is caregiver -->
          {% if user|has_group:'caregiver' %}
          <li class="nav-item">
            <a class="nav-link btn btn-info me-2" href="/caregiver" style="color: white">Caretaker Portal</a>
          {% endif %}
          {% if user|has_group:'vet' %}
          <li class="nav-item">
            <a class="nav-link btn btn-info me-2" href="/vetrequest" style="color: white">Vetrequests</a>
          <li class="nav-item">
            <a class="nav-link btn btn-info me-2" href="/animals/medical_records" style="color: white">Medical records</a>
          {% endif %}
          {% if user|has_group:'volunteer' %}
          <li class="nav-item">
            <a class="nav-link btn btn-info me-2" href="/reservation" style="color: white">My reservations</a>
          <li class="nav-item">
            <a class="nav-link btn btn-info me-2" href="/reservation/walks" style="color: white">Walk history</a>
          {% endif %}
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link btn btn-outline-secondary" href="/profile" style="color: white;">User: {{user.username}}
              <!-- if volunteer add blue verified icon -->
              {% if user|has_group:'volunteer' %} 
              <i class="bi bi-patch-check ms-1" style="color: #24a0ed"></i> 
              {% endif %} 
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout/">Logout</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="/login">Login</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
</nav>