{% extends 'shelter/base.html' %}

{% load animals_extras %}

{% block content %}

{% if user|has_group:'caregiver' %}
<form  action="{% url "timetable:timetable-create" %}" method="POST" class="form">
     <input type="hidden" name="animalid" value="{{object_list1.0.animalid.id}}" />
     {% csrf_token %}
     <button type="submit" class="btn btn-primary" style="width: 100px">New Timetable</button>
</form>
{% endif %}

{% if object_list1 %}
     {% for instance in object_list1 %}
          <p><a href='{{ instance.get_absolute_url }}'>{{ instance.reserved_from }} - {{ instance.reserved_to }}</a> 
             <a href='{{instance.id}}/delete'>Delete</a>
          </p>
     {% endfor %}
{% endif %}    

{% endblock %}