{% extends 'shelter/base.html' %}
{% load crispy_forms_tags %}
{% load crispy_forms_tags %}
{% load animals_extras %}

{% block content %}

<div class="container mt-5">
<div class="row df-flex justify-content-center">
<div class="col-md-6">
    <div class="card">
        <div class="card-header">
            <h3>This is <strong>{{object.name}}</strong></h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <p class="text-dark fw-bold">Name: <span class="ms-2 fw-light">{{ object.name }}</span></p>
                    <p class="text-dark fw-bold">Breed: <span class="ms-2 fw-light">{{ object.breed }}</span></p>
                    <p class="text-dark fw-bold">Age: <span class="ms-2 fw-light">{{ object.age }}</span></p>
                    <p class="text-dark fw-bold">Registered: <span class="ms-2 fw-light">{{ object.registration_date }}</span></p>
                    {% if object.info %}
                        <p class="text-dark fw-bold">Info: <span class="ms-2 fw-light">{{ object.info }}</span></p>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">

                    <!-- Caregiver: delete/update a pet -->
                    {% if user|has_group:'caregiver' or user.is_superuser %} 
                        <a href='{{object.get_absolute_url}}delete' class="btn btn-danger float-start m-2" style="width: 145px;">Delete {{ object.name }}</a>
                        <a href='{{object.get_absolute_url}}update' class="btn btn-warning float-start m-2" style="width: 145px;">Update {{ object.name }}</a>
                    {% endif %}
                    
                    <!-- volunteer: reservation for a walk (timetable) -->
                    {% if user|has_group:'volunteer' %} 
                        <form  action="{% url 'timetable:timetable-list'%}" method="POST" class="form">
                            <input type="hidden" name="animalid" value="{{object.id}}" />
                            {% csrf_token %}
                            <button type="submit" class="btn btn-primary float-end m-2" style="width: 145px;">Reserve me!</button>
                        </form>
                    {% endif %}

                    {% if user|has_group:'volunteer' or user|has_group:'volunteer_notrust' or not user.is_authenticated %}
                        <form  action="{% url 'timetable:timetable-list'%}" method="POST" class="form">
                            <input type="hidden" name="animalid" value="{{object.id}}" />
                            <input type="hidden" name="zviera" value="{{object.name}}" />
                            {% csrf_token %}
                            {% if user|has_group:'volunteer_notrust' %}
                                <span class="d-inline-block float-end" tabindex="0" data-toggle="tooltip" title="Wait for verification by our caregiver">
                                    <button class="btn btn-primary" style="pointer-events: none;  width: 100px" type="button" disabled>Reserve</button>
                                </span>
                            {% endif %}
                        </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>

{% endblock %}