{% extends 'shelter/base.html' %}

{% block content %}

{% comment %} <a href="{% url "users:user-list" %}">All Users</a> {% endcomment %}

{% comment %} {% for instance in object_list %}
     <p>{{ instance.id_pecovatel }} - <a href='{{ instance.get_absolute_url }}'>{{ instance.meno }}</a></p>
{% endfor %} {% endcomment %}


<!-- center header -->
<div class="container">
    <div class="row">
        <div class="col">
            <div class="page-header mt-4 mb-lg-5">
                <h1>Admin</h1>
                <hr>
            </div>
        </div>
    </div>
    <div class="row">
          <div class="col">
               <h3 class="pull-left">Caregivers</h3>
          </div>
          <div class="col">
               <a href="{% url 'caregiver_edit:caregiver-list' %}" class="btn btn-outline-warning pull-right">Manage</a>
          </div>
     </div>
     <hr>
     <div class="row">
          <div class="col">
               <h3 class="pull-left">Volunteers</h3>
          </div>
          <div class="col">
               <a href="{% url 'volunteer_edit:volunteer-list' %}" class="btn btn-outline-warning pull-right">Manage</a>
          </div>
     </div>
     <hr>
     <div class="row">
          <div class="col">
               <h3 class="pull-left">Veterinarians</h3>
          </div>
          <div class="col">
               <a href="{% url 'vet_edit:vet-list' %}" class="btn btn-outline-warning pull-right">Manage</a>
          </div>
     </div>
</div>

{% endblock %}