{% extends 'shelter/base.html' %}


{% block title %}Your Profile{% endblock %} 

{% block content %}

<!-- use bootstrap to display user info (username, first name, last name, email) -->
<div class="container mt-5">
    <div class="row df-flex justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h3>My Profile</h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3">
                            <p class="lead text-dark fw-bold">Username: </p>
                            <p class="lead text-dark fw-bold">First Name: </p>
                            <p class="lead text-dark fw-bold">Last Name: </p>
                            <p class="lead text-dark fw-bold">Email: </p>
                        </div>
                        <div class="col-md-9">
                            <p class="text-dark">{{ user.username }}</p>
                            <p class="text-dark">{{ user.first_name }}</p>
                            <p class="text-dark">{{ user.last_name }}</p>
                            <p class="text-dark">{{ user.email }}</p>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-md-6">
                            <a href="{% url 'edit-profile' %}" class="btn btn-primary">Edit Profile</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <a href="{% url 'change-password' %}" class="btn btn-primary">Change Password</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock%}



