{% extends 'shelter/base.html' %}


{% block title %}Your Profile{% endblock %} 

{% block content %}

<!-- use bootstrap to display user info (username, first name, last name, email) -->
<div class="container mt-5">
    <div class="row df-flex justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h3>My Profile</h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <p class="text-dark fw-bold">Username: <span class="ms-2 fw-light">{{ user.username }}</span></p>
                            <p class="text-dark fw-bold">First Name:: <span class="ms-2 fw-light">{{ user.first_name }}</span></p>
                            <p class="text-dark fw-bold">Last Name: <span class="ms-2 fw-light">{{ user.last_name }}</span></p>
                            <p class="text-dark fw-bold">Email: <span class="ms-2 fw-light">{{ user.email }}</span></p>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-md-6">
                            <a href="{% url 'edit-profile' %}" class="btn btn-outline-dark" style="width: 170px;">Edit Profile</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <a href="{% url 'change-password' %}" class="btn btn-warning" style="width: 170px;">Change Password</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock%}



