{% extends 'shelter/base.html' %}

{% load animals_extras %}

{% block content %}

{% if user|has_group:'caregiver' or user.is_superuser %}
     <a href="{% url "vetrequest:vetrequest-create" %}">New Request</a>
{% endif %}

{% if user|has_group:'vet' or user.is_superuser or user|has_group:'caregiver' %}

     <h1>Pending</h1>
     {% for instance in object_list1 %}
          <p><a href='{{ instance.get_absolute_url }}'>Request for {{ instance.animalid.name }}</a></p>
     {% endfor %}
     
     <h1>Finished</h1>
     {% for instance in object_list2 %}
          <p><a href='{{ instance.get_absolute_url }}'>Request for {{ instance.animalid.name }}</a></p>
     {% endfor %}

{% else %} 

{% endif %}

{% endblock %}