{% extends 'shelter/base.html' %}

{% load crispy_forms_tags %}
{% load animals_extras %}

{% block content %}

<p class="mt-1 ms-1"><a href='{{object.get_absolute_url}}delete' type="submit" class="btn btn-danger" style="width: 100px">Delete</a></p>
{% if user|has_group:'caregiver'%}
    <p><a href='{{object.get_absolute_url}}update'>Update</a></p>
{% endif %}

{% if user|has_group:'vet' and object.state == 'pending'%}
   <form  action='{{object.get_absolute_url}}' method="POST" class="form">
        <input type="hidden" name="state" value="exam" />
        {% csrf_token %}
        <button type="submit" class="btn btn-primary mt-1 ms-1" style="width: 100px">Create exam</button>
    </form>
{% endif %}

<h1>Date:        {{ object.creation_date }}</h1>
<h1>For Animal:  {{ object.animalid.name }}</h1>
{% if user|has_group:'caregiver' or user.is_superuser %}
<h1>Veterinarian: {{ object.vetid.username }}</h1>
{% endif %}
<h3> Request: </h3>
<p>{{ object.content }}</p>
<hr>
{% comment %} not object.exam_time and object.state != 'pending' {% endcomment %}
{% if user|has_group:'vet' and object.state == 'exam' %}
{% comment %} <form action='.' method='POST'>{% csrf_token %}
    {{ exam|crispy }}
    <input type='submit' name='save' value='Save' />    
</form> {% endcomment %}
<div class="form-wrapper" style="padding-top: 5px; padding-left: 10px;">
    <h2>Exam</h2>
    <form action='.' method='POST'>{% csrf_token %}
        {{ exam|crispy }}
        <input type='submit' name='save' value='Save' class="btn btn-primary"/>
    </form>
</div>
{% endif %} 




{% endblock %}  