{% extends 'shelter/base.html' %}

{% load animals_extras %}

{% block content %}
<p><a href='{{object.get_absolute_url}}delete'>Delete</a></p>
{% if user|has_group:'caregiver'%}
    <p><a href='{{object.get_absolute_url}}update'>Update</a></p>
{% endif %}

{% if user|has_group:'vet' and object.state != 'finished'%}
   <form  action='{{object.get_absolute_url}}' method="POST" class="form">
        <input type="hidden" name="state" value="finished" />
        {% csrf_token %}
        <button type="submit" class="btn btn-primary" style="width: 100px">Create exam</button>
    </form>
{% endif %}

<h1>Date:        {{ object.creation_date }}</h1>
<h1>For Animal:  {{ object.animalid.name }}</h1>
{% if user|has_group:'caregiver' or user.is_superuser %}
<h1>Veterinarian: {{ object.vetid.username }}</h1>
{% endif %}
<h1>State:       {{ object.state }}</h1>
<h3> Request: </h3>
<p>{{ object.content }}</p>

{% if user|has_group:'vet' and not object.exam_time and object.state != 'pending'%}
<form action='.' method='POST'>{% csrf_token %}
    {{ exam.as_p }}
    <input type='submit' name='save' value='Save' />
</form>
{% elif user|has_group:'vet' and object.exam_time %}
<h1>Exam time:        {{ object.exam_time }}</h1>
<h1>Exam procedure:   {{ object.exam_procedure }}</h1>
{% endif %} 

{% endblock %}  