{% extends 'shelter/base.html' %}

{% load animals_extras %}

{% block content %}

{% if user|has_group:'caregiver' or user.is_superuser %}
     <a href="{% url 'vetrequest:vetrequest-newcreate' %}">New Request</a>
{% endif %}

{% if user|has_group:'vet' or user.is_superuser or user|has_group:'caregiver' %}
     <h1 class="text-center mt-4 mb-2">Pending requests</h1>
     <div class="requests center-block container text-center">
     
          <table class="table">
               <thead>
               <tr>
               <th scope="col">For animal</th>
               <th scope="col">From</th>
               <th scope="col">Date</th>
               <th scope="col"></th>
               </tr>
               </thead>
               <tbody>
               
               {% for instance in object_list1  %}
               <tr>
                    <th scope="row">{{instance.animalid.name}}</th>
                    <td>{{instance.caregiverid.username}}</td>
                    <td>{{instance.creation_date}}</td>
                    <td>
                         <a href='{{ instance.get_absolute_url }}' type="submit" class="btn btn-primary" style="width: 120px">Create exam</a>
                    </td>
               </tr>
               {% endfor %}
               </tbody>
          </table>
     </div>
     
     <h1 class="text-center mt-5 mb-2">Exam</h1>
     <div class="requests center-block container text-center">
     
          <table class="table">
               <thead>
               <tr>
               <th scope="col">For animal</th>
               <th scope="col">Exam procedure</th>
               <th scope="col">Date of exam</th>
               <th scope="col"></th>
               <th scope="col"></th>
               </tr>
               </thead>
               <tbody>
               
               {% for instance in object_list2  %}
               <tr>
                    <th scope="row">{{instance.animalid.name}}</th>
                    <td>{{instance.exam_procedure}}</td>
                    <td>{{instance.exam_time}}</td>
                    <td>
                         <a href='{{ instance.get_absolute_url }}' type="submit" class="btn btn-primary" style="width: 100px">Detail</a>
                         <a href='{{instance.id}}/delete' type="submit" class="btn btn-danger" style="width: 100px">Delete</a>
                    </td>
               </tr>
               {% endfor %}
               </tbody>
          </table>
     </div>
{% endif %}

{% endblock %}
