<div>
    <h1> Reservations </h1>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">For animal</th>
            <th scope="col">Volunteer</th>
            <th scope="col">Date</th>
            <th scope="col">From - To</th>
            <th scope="col">Approval</th>
          </tr>
        </thead>
        <tbody>
          
            {% for reserve in reservations  %}
            <tr>
                <th scope="row">{{reserve.animalid.name}}</th>
                <td>{{reserve.volunteerid.first_name}} {{reserve.volunteerid.last_name}}</td>
                <td>{{reserve.reserved_date|date:"d.m.Y"}}</td>
                <td>{{reserve.reserved_from|date:"H:i"}} - {{reserve.reserved_to|date:"H:i"}}</td>
                <td>
                {% if reserve.approval == 0  %}
                    no
                {% else %}
                    yes
                {% endif %}
                </td>
                <td>
                    {% if reserve.approval == 0  %}
                    <button res-id="{{reserve.id}}" approve="1" type="submit" class="change-approvement btn btn-primary">Approve</button> 
                    {% else %}
                    <button res-id="{{reserve.id}}" approve="0" type="submit" class="change-approvement btn btn-primary">Unapprove</button>  
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
</div>