{% extends 'shelter/base.html' %}

{% block content %}

{% comment %} <a href="{% url "users:user-list" %}">All Users</a> {% endcomment %}

{% comment %} {% for instance in object_list %}
     <p>{{ instance.id_pecovatel }} - <a href='{{ instance.get_absolute_url }}'>{{ instance.meno }}</a></p>
{% endfor %} {% endcomment %}
<h1>Caregiver</h1>

<p>
     <a href="{% url "animals:animal-list" %}">All Animals</a><br>
     <a href="{% url "volunteer_edit:volunteer-list" %}">Volunteers</a><br>
     <a href="{% url "vetrequest:vetrequest-create" %}">Vypsat požadavek</a><br>
     <a href="{% url "reservation:reservation-list" %}">Venčenia</a>
</p>
{% endblock %}