<div class="approve-result center-block container text-center">
    <div>
      <div class="header center-block container text-center">
        <table class="table">
          <tbody>
              <tr>
                  <td>
                      <h1>Vet requests</h1>
                  </td>
                  <td>
                    <a href='create' >
                      <button type="submit" class="btn btn-primary" style="width: 100px">New vetrequest</button>
                    </a>
                  </td>
              </tr>
          </tbody>
        </table>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">For animal</th>
            <th scope="col">For vet</th>
            <th scope="col">Date</th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          
            {% for request in requests  %}
            <tr>
                <th scope="row">{{request.animalid.name}}</th>
                <td>{{request.vetid.username}}</td>
                <td>{{request.creation_date}}</td>
                <td>
                    <a href='{{request.id}}/update' class="btn btn-primary" style="width: 100px">Update</a>
                    <a href='{{request.id}}/delete' class="btn btn-danger" style="width: 100px">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
      </table>
        
    </div>
  </div>