<div class="edit-animals-content center-block container text-center">
  <div>
    <div class="header center-block container text-center">
      <table class="table">
        <tbody>
            <tr>
                <td>
                    <h1>Animals</h1>
                </td>
                <td>
                    <button type="submit" class="create-animal btn btn-primary" style="width: 100px">New animal</button>
              </td>
            </tr>
        </tbody>
      </table>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Breed</th>
          <th scope="col">Age</th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        
          {% for animal in animals  %}
          <tr>
              <th scope="row">{{animal.name}}</th>
              <td>{{animal.breed}}</td>
              <td>{{animal.age}}</td>
              <td>
                    <button id="{{animal.id}}" type="submit" class="update-animal btn btn-primary" animal-id="{{animal.id}}" style="width: 100px">Update</button>
                    <button id="{{animal.id}}" type="submit" class="delete-animal btn btn-primary" animal-id="{{animal.id}}" style="width: 100px">Delete</button>
              </td>
          </tr>
          {% endfor %}
      </tbody>
    </table>
      
  </div>
</div>