    <div class="nonverified-volunteers">
        <h1 class="text-center"> Non-verified volunteers </h1>
        {% for user in nonverified %}
        <div class="container">
            <div class="card" style="max-width: 900px; margin: auto;">
            <div class="row g-0" style="padding: 20px;">
                <!-- Text -->
                <div class="col-md-8" style="padding-left: 20px;">
                    <div class="card-block px-4">
                        <h4 class="card-title">{{ user.first_name }} {{user.last_name}}</h4>
                        <p class="card-text">User name: {{ user.username }} </p>
                    </div>
                    <!-- Buttons -->
                </div>
                <div class="col-md-2">
                    <div class="card-block">   
                        <!-- Verify user -->
                        <div style="margin: 10px">
                            <button id="{{user.id}}" type="submit" class="verify btn btn-primary" style="width: 100px">Verify</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <!-- add margin below the card -->
        <div class="row" style="margin-bottom: 10px;"></div>
    {% endfor %}
</div>
<div class="verified-volunteers">
    <h1 class="text-center"> Verified volunteers </h1>
    {% for user in verified %}
    <div class="container">
        <div class="card" style="max-width: 900px; margin: auto;">
            <div class="row g-0" style="padding: 20px;">
                <!-- Text -->
                <div class="col-md-8" style="padding-left: 20px;">
                    <div class="card-block px-4">
                        <h4 class="card-title">{{ user.first_name }} {{user.last_name}}</h4>
                        <p class="card-text">User name: {{ user.username }} </p>
                    </div>
                    <!-- Buttons -->
                </div>
                <div class="col-md-2">
                    <div class="card-block">   
                        <!-- Go to detail view -->
                        <div style="margin: 10px">
                            <button id="{{user.id}}" type="submit" class="unverify btn btn-primary" style="width: 100px">Unverify</button>
                            <!-- <a href='{{ instance.get_absolute_url }}' class="btn btn-secondary btn-sm btn-block">Detail</a> -->
                        </div>
                    </div>
                </div> 
            </div>
        </div>
        </div>
        <!-- add margin below the card -->
        <div class="row" style="margin-bottom: 10px;"></div>
    {% endfor %}
</div>
