    <table class="table">
        <thead>
          <tr>
            <th scope="col">Reservation ID</th>
            <th scope="col">Creation date</th>
            <th scope="col">Volunteer name</th>
            <th scope="col">Time picked</th>
            <th scope="col">Time returned</th>
          </tr>
        </thead>
        <tbody>
            {% comment %} {% for reserve in reservations  %} {% endcomment %}
            <tr>
                <th scope="row">{{reserve.id}}</th>
                <td>{{reserve.volunteerid.first_name}} {{reserve.volunteerid.last_name}}</td>
                <td>{{reserve.creation_date|date:"d.m.Y"}}</td>
                <td>{{reserve.time_picked}}</td>
                <td>{{reserve.time_returned}}</td>
                <td><button type="submit" class="walk-time-edit btn btn-primary">Set time</button></td>
            </tr>
            <tr id="ahoj" class="walk-new-time" style="display:none">
                <td colspan="3">
                </td>
                <td>
                    <input id="walkStartTime" class="form-control" type="time" />
                </td>
                <td>
                    <input id="walkEndTime" class="form-control" type="time" />
                </td>
                <td>
                    <button type="submit" class="walk-search btn btn-primary">Save</button>  
                </td>
            </tr>

            {% comment %} {% endfor %} {% endcomment %}
        </tbody>
      </table>
    