<div class="schedule-animals-list center-block container text-center">
    <div>
      <div class="header center-block container text-center">
        <table class="table">
          <tbody>
              <tr>
                  <td>
                      <h1>{{animal.name}}'s schedules</h1>
                  </td>
                  <td>
                      <button type="submit" class="create-animal btn btn-primary" style="width: 100px">New schedule</button>
                </td>
              </tr>
          </tbody>
        </table>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Date</th>
            <th scope="col">From</th>
            <th scope="col">To</th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
            {% for timetable in timetables  %}
            <tr>
                <td>{{timetable.reserved_date|date:"d-m-Y"}}</td>
                <td>{{timetable.reserved_from|date:"H:i"}}</td>
                <td>{{timetable.reserved_to|date:"H:i"}}</td>
                <td>
                      <button id="{{timetable.id}}" type="submit" class="update-schedule btn btn-primary" time-id="{{timetable.id}}" style="width: 100px">Update</button>
                      <button id="{{timetable.id}}" type="submit" class="delete-schedule btn btn-primary" time-id="{{timetable.id}}" style="width: 100px">Delete</button>
                </td>
            </tr>
            <tr id="update-time-{{timetable.id}}" class="schedule-new-time" style="display:none">
                <td style="max-width:100px">
                    {% if timetable.reserved_date == None  %}
                        <input id="scheduleDate-{{timetable.id}}" class="scheduleDate-update form-control" type="date" />
                    {% else %}
                        <input id="scheduleDate-{{timetable.id}}" class="scheduleDate-update form-control" value="{{timetable.reserved_date|date:"Y-m-d"}}" type="date" />
                    {% endif %}
                </td>
                <td style="max-width:50px">
                    {% if timetable.reserved_from == None  %}
                        <input id="scheduleStartTime-{{timetable.id}}" class="form-control" type="time" />
                    {% else %}
                        <input id="scheduleStartTime-{{timetable.id}}" class="form-control" value="{{timetable.reserved_from|date:"H:i"}}" type="time" />
                    {% endif %}
                </td>
                <td style="max-width:50px">
                    {% if timetable.reserved_to == None  %}
                        <input id="scheduleEndTime-{{timetable.id}}" class="form-control" type="time" />
                    {% else %}
                        <input id="scheduleEndTime-{{timetable.id}}" class="form-control" value="{{timetable.reserved_to|date:"H:i"}}" type="time" />
                    {% endif %}
                </td>
                <td>
                    <button type="submit" class="schedule-update-save btn btn-primary" settime-id="{{timetable.id}}" style="width:100px">Save</button>  
                </td>
            </tr>
            {% endfor %}
        </tbody>
      </table>
        
    </div>
  </div>