<nav id="sidebar">
    <div class="sidebar-header">
        <!--<h3>Bootstrap Sidebar</h3>-->
        <h3>Caretaker: </h3>
        <h4>{{usr.username}}</h4>
    </div>

    <ul class="list-unstyled components">

        <!-- Volunteer management -->
        {% comment %} <li class="active"> {% endcomment %}
        <li >
            <a href="/caregiver/manage_volunteers/">Manage Volunteers</a>
        </li>
        <li>
            <a href="/caregiver/edit_animals/">Edit animals</a>
        </li>
        <li>
            <a href="/caregiver/create_schedules/">Create schedules</a>
        </li>
        <li>
            <a href="/caregiver/approve_res/">Approve reservation</a>
        </li>
        <li>
            <a href="/caregiver/register_walks/">Register walks</a>
        </li>
        <li>
            <a href="/caregiver/create_vet_request/">Create vet request</a>
        </li>
    </ul>
</nav> 
  <!-- Sidebar -->
  