    <table class="table walk-table">
        <thead>
          <tr>
            <th scope="col">For animal</th>
            <th scope="col">Volunteer name</th>
            <th scope="col">Date</th>
            <th scope="col">Scheduled time</th>
            <th scope="col">Time picked</th>
            <th scope="col">Time returned</th>
          </tr>
        </thead>
        <tbody>
            {% for reserve in reservations  %}
            <tr>
                <th scope="row">{{reserve.animalid.name}}</th>
                <td>{{reserve.volunteerid.first_name}} {{reserve.volunteerid.last_name}}</td>
                <td>{{reserve.reserved_date|date:"d.m.Y"}}</td>
                <td>{{reserve.reserved_from|date:"H:i"}} - {{reserve.reserved_to|date:"H:i"}}</td>
                <td>
                    {% if reserve.time_picked == None  %}
                        Not set
                    {% else %}
                        {{reserve.time_picked|date:"H:i"}}
                    {% endif %}
                </td>
                <td>
                    {% if reserve.time_return == None  %}
                        Not set
                    {% else %}
                        {{reserve.time_return|date:"H:i"}}
                    {% endif %}
                </td>
                <td><button type="submit" class="walk-time-edit btn btn-primary" editrow-id="{{reserve.id}}">Set time</button></td>
            </tr>
            <tr id="set-time-{{reserve.id}}" class="walk-new-time" style="display:none">
                <td colspan="3">
                </td>
                <td>
                    {% if reserve.time_picked == None  %}
                        <input id="walkStartTime-{{reserve.id}}" class="form-control" type="time" />
                    {% else %}
                        <input id="walkStartTime-{{reserve.id}}" class="form-control" value="{{reserve.time_picked|date:"H:i"}}" type="time" />
                    {% endif %}
                </td>
                <td>
                    {% if reserve.time_return == None  %}
                        <input id="walkEndTime-{{reserve.id}}" class="form-control" type="time" />
                    {% else %}
                        <input id="walkEndTime-{{reserve.id}}" class="form-control" value="{{reserve.time_return|date:"H:i"}}" type="time" />
                    {% endif %}
                </td>
                <td>
                    <button type="submit" class="walk-time-save btn btn-primary" settime-id="{{reserve.id}}">Save</button>  
                </td>
            </tr>
            {% endfor %}
        </tbody>
      </table>
    